.note{
    width: 17rem;
    height: 20rem;
    padding: 1rem;
    box-shadow: 0px 2px 8px 1px gray;
    border-radius: 1rem;
    font-family: var(--textFont);
    margin: 1rem;
    word-wrap:break-word;
    overflow: hidden;
    position: relative;
}
.note__title{
    text-align: center;
    font-size: 1.5rem;
}
.note__description{
    text-align: center;
    margin-top: 1rem;
}
.note__actions{
    width: 15rem;
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.note__btn{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 2.5rem;
    border: 0;
    border-radius: 1rem;
    color: var(--fontColorLight);
    cursor: pointer;
}
.btn-edit{
    background-color: #F9A825;
}
.btn-about{
    background-color: var(--primaryColor)
}
.btn-delete{
    background-color: #c62828;
}
.note__star,.note__icon-star{
    width: 2rem;
    height: 2rem;
    opacity: 0.95;
}
.note__star{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}
