.container-form{
    position: relative;
    width: 28rem;
    height: 37rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--borderRadiusBox);
    box-shadow: 0px 5px 8px 1px gray;
    margin-top: 8rem;
    font-family: var(--textFont);
}
.container-form__icon-user{
    color:  #a3a3a3;
    width: 10rem;
    display: block;
    position: absolute;
    top: -6rem;
}
.container-form__form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-form__input-username,.container-form__input-password{
    outline: none;
    border: #a3a3a3 solid 1px;
    width: 18rem;
    padding: 0.8rem 1rem;
}
.container-form__button-submit{
    width: 18rem;
    height: 3.5rem;
    border: 0;
    border-radius: 1rem;
    color: var(--fontColorLight);
    background-color: var(--primaryColor);
}
.mg-2rem{
    margin: 1.5rem 0 3rem 0;
}
